body {
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.dataTable {
    background: #76C9FF;
    border-collapse: collapse;
    border: 1px solid #000;
}

.dataTable tr{
    padding: 5px;
}

.dataTable td {
    padding: 5px 10px;
    border: 1px solid #000;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.dataTable th {
    padding: 12px 8px;
    border: 1px solid #000;
}

.dataTable tr:nth-child(even) {
    padding: 0;
    margin: 0;
    background: #A2DAFF;
}

.dataTable th {
    text-align: left;
}

.removeIcon {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.removeItem {
    text-align: center;
}

.addUpdate .inputOption {
    margin: 10px 0;
}

.addUpdate .inputOption input {
    margin-left: 10px;
}

.addUpdate .inputOption.shortNum input {
    width: 50px;
}

a.button, input[type=button], input[type=submit] {
    height: 35px;
    line-height: 13px;
    font-size: 15px;
    min-width: 120px;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    background: #61d3ff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

a.button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: #10abe5;
}

a.button:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.errorMsg {
    background: #ff3d3d;
    border: 1px solid #000;
    display: inline-block;
    padding: 10px;
    color: #000;
}