body {
    padding: 0 20px;
}

input {
    max-width: 200px;
}

.dataTable {
    background: #76C9FF;
    border-collapse: collapse;
    border: 1px solid black;
}

.dataTable tr{
    padding: 5px;
}

.dataTable td {
    padding: 5px 10px;
    border: 1px solid black;
}

.dataTable th {
    padding: 12px 8px;
    border: 1px solid black;
}

.dataTable tr:nth-child(even) {
    padding: 0;
    margin: 0;
    background: #A2DAFF;
}
 
.dataTable th {
    text-align: left;
}

.addProductButtons {
    margin: 15px 0;
}

.addProductButtons input {
    margin-top: 10px;
}

.removeIcon {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.removeItem {
    text-align: center;
}