<h2>Add Product</h2>

<div>
    @using (Html.BeginForm("AddProduct", "Products"))
    {
        @Html.TextBox("Test")
        <label>Name:<input type="text" /></label>
        <label>Price:<input type="text" /></label>
        <label>Quantity:<input type="text" /></label>

        <input type="submit" />
    }
</div>

