@model ProductListMVCDemo.Models.ProductListViewModel
@{
    Layout = null;
}

<div>
    Current Products:
    <table>
        @foreach (var x in model)
        {
            <tr></tr>
        }
    </table>
    
</div>