@model ProductListMVCDemo.Models.ProductListViewModel
@using ProductListMVCDemo.Objects.Enums;

@section Scripts {
    <script src="~/Scripts/ProductList.js"></script>
}

<div>
    <h1>Current Products:</h1>
    <div>
        <table id="productListTable" class="dataTable">
            @{
                Html.RenderPartial("_ProductListTable", Model);
            }
        </table>
    </div>
    <h3>Add New Product</h3>
    <div class="addProductButtons">
        @using (Html.BeginForm("AddUpdateProduct", "Products"))
        {
            <div>
                <label>
                    Type:
                    <select name="productType">
                        <option value="@((int)ProductType.Game)">Game</option>
                        <option value="@((int)ProductType.Car)">Car</option>
                    </select>
                </label>
            </div>
            <div>
                <input type="submit" value="Add Product" />
            </div>
        }
    </div>
</div>