@model ProductListMVCDemo.Models.ProductListViewModel
@using ProductListMVCDemo.Objects.Products;
@{
    Layout = null;
}

<div>
    Current Products:
    <table>
        @foreach (ProductBase product in Model.AllProducts)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Add Product", "AddProduct")
</div>